body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

button {
    background: rgb(95, 223, 75);
    border: none;
    padding: 10px;
    text-transform: uppercase;
    margin: 10px auto 10px;

}

button#button2 {
    background: rgb(223, 75, 87);
}

button#button2:hover {
    cursor: pointer;
    background: rgb(255, 103, 115);
}

button:hover {
    cursor: pointer;
    background: rgb(142, 235, 128);
}

table.paleBlueRows {
    border: 1px solid #FFFFFF;
    width: 350px;
    height: 200px;
    text-align: center;
    border-collapse: collapse;
}

table.paleBlueRows td,
table.paleBlueRows th {
    border: 1px solid #FFFFFF;
    padding: 3px 2px;
}

table.paleBlueRows tbody td {
    font-size: 13px;
}

table.paleBlueRows tr:nth-child(even) {
    background: #D0E4F5;
}

table.paleBlueRows thead {
    background: rgb(70, 186, 248);
    border-bottom: 5px solid #FFFFFF;
}

table.paleBlueRows thead th {
    font-size: 17px;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #FFFFFF;
}

table.paleBlueRows thead th:first-child {
    border-left: none;
}

table.paleBlueRows tfoot {
    font-size: 14px;
    color: #333333;
    background: #D0E4F5;
    border-top: 3px solid #444444;
}

table.paleBlueRows tfoot td {
    font-size: 14px;
}

textarea {
    width: 100%;
}